<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go Site | Create Account </title>
</head>
<body>
    <h1>Create New Account.</h1>
    
    <form method="POST" action="auth/register">
        <div>
            <p>Fullname:</p>
            <input type="text" name="fullname">
        </div>
            
        <div>
            <p>* Username:</p>
            <input type="text" name="username">
        </div>
        <div>
            <p>* Password:</p>
            <input type="password" name="password">
        </div>

        <div>
            <button type="submit"> SIGNUP  </button>
        </div>
    </form>
</body>
</html>